<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Location Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <address>
        <p>121, Clear Water Bay Road</p>
        <p>Clear Water Bay, Kowloon</p>
        <p>HONG KONG</p>
        <p><ion-icon slot="start" name="call"></ion-icon>: +852 1234 5678</p>
        <p><ion-icon slot="start" name="print"></ion-icon>: +852 8765 4321</p>
        <p><ion-icon slot="start" name="mail"></ion-icon>:confusion@food.net</p>
      </address>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" fill="clear">
              <ion-icon slot="start" name="call"></ion-icon>
              CALL
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" fill="clear">
              <ion-icon slot="start" name="mail"></ion-icon>
              EMAIL
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
